# backend for chainlink
POSTGRES_PASSWORD=password
POSTGRES_DB=chainlink

# chainlink environment
DATABASE_URL=postgresql://postgres:password@postgres:5432/chainlink?sslmode=disable
ROOT=/chainlink
LOG_LEVEL=info
ETH_CHAIN_ID=5
MIN_OUTGOING_CONFIRMATIONS=2

# use goerli tfi tokens
LINK_CONTRACT_ADDRESS=0x3417dd955d4408638870723b9ad8aae81953b478
MINIMUM_CONTRACT_PAYMENT_LINK_JUELS=0
CHAINLINK_TLS_PORT=0
SECURE_COOKIES=false
GAS_UPDATER_ENABLED=false
ETH_URL=wss://goerli-light.eth.linkpool.io/ws
ALLOW_ORIGINS=*
FEATURE_WEBHOOK_V2=true
CHAINLINK_DEV=true
DEFAULT_HTTP_TIMEOUT=240s

#adapter
TRUFLATION_NFT_HOST=http://nft-backend:8080
TRUFlATION_FEE_HOST=http://fee-server:8080
